In [69]:
import nltk
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize,sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer,PorterStemmer,WordNetLemmatizer
from string import punctuation
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_json('./quote.json') # read the json file

In [4]:
df.head() # see the first 5 quotes

,author,emotion,quote
0,Elbert Hubbard,friend,“A friend is someone who knows all about you a...
1,Shel Silverstein,friend,“How many slams in an old screen door? Depends...
2,Abraham Lincoln,friend,“Do I not destroy my enemies when I make them ...
3,Robert Louis Stevenson,friend,“We are all travelers in the wilderness of thi...
4,"E.B. White,",friend,“It is not often that someone comes along who ...

In [5]:
data=df.reindex(np.random.permutation(df.index))  # randomize the arrangement of quotes

In [6]:
data.head() # see top 5 data

,author,emotion,quote
149,Jordan Hoechlin,friend,"“Take a shot, make a friend, just enjoy the mo..."
524,"Benjamin Alire Sáenz,",sad,“For the music to be over so soon. For the mus...
47,"Toba Beta,",friend,"“When you get lost in a really strange place, ..."
295,Sara Evans,sad,“Even on my weakest daysI get a little bit str...
36,Buddha,friend,"“friendship is the only cure for hatred, the o..."

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540 entries, 149 to 429
Data columns (total 3 columns):
author     540 non-null object
emotion    540 non-null object
quote      540 non-null object
dtypes: object(3)
memory usage: 16.9+ KB

In [8]:
le=LabelEncoder() # label encoder object

In [9]:
X=data['quote']
y=data['emotion']

In [10]:
y_gen=le.fit_transform(y)

In [11]:
y_gen.shape

(540,)

In [12]:
X_1=list(X) # convert the pandas dataframe to list

In [13]:
len(X_1)

540

In [14]:
words=[] # tokenize words
for i in X_1:
    words+=word_tokenize(i.lower())

In [15]:
len(words)

25082

In [16]:
con=set(words) # remove repeating words

In [17]:
len(con)

3734

In [18]:
stop_words=stopwords.words("english") # remove the stop words and puctuations
punc=set(punctuation)
total=set(stop_words).union(punc)
pure=[w for w in con if w not in total]

In [19]:
len(pure)

3586

In [20]:
ps=PorterStemmer()
ss=SnowballStemmer(language="english")
wl=WordNetLemmatizer()

In [21]:
more_pure=[] # stemming the words
for j in pure:
    pure_1=ps.stem(j.lower())
    pure_2=ss.stem(pure_1)
    pure_3=wl.lemmatize(pure_2)
    more_pure.append(pure_3)

In [56]:
len(more_pure)

3586

In [24]:
cv=CountVectorizer() # create countvectorize object

In [25]:
trans=cv.fit_transform(X_1).todense()

In [26]:
trans.shape

(540, 3498)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(
...     trans, y_gen, test_size=0.20, random_state=42)

In [74]:
model=MultinomialNB()

In [75]:
model.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [76]:
model.score(X_test,y_test) # more number of quotes will improve the accuracy

0.8333333333333334